.address-card {
    width: 430px;
    margin: auto;
    border: 1px gray solid;
    padding: 15px;
}

.name {
    font-family: "verdana", "sans-serif";
}

.title {
    font-style: italic;
}

.address {
    font-size: 15px;
}

.phone {
    border-left: 1px gray solid;
    padding-left: 5px;
}